$font: Inconsolata;
$background-color: #210012;
$primary-accent: #da7386;
$container-color: #13000a;
$sidebar-color: #0e0007;
$article-text-color: #ffcbd4;
$text-highlight: #ff2b52;

header {
  font-family: $font;
  color: $container-color;
  background-color: $primary-accent;
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
  p {
    color: $container-color;
  }
}

body {
  background-color: $background-color;
  color: $background-color;
  display: grid;
  margin: 0 auto;
  width: 100%;
}

#container {
  background-color: $container-color;
  border-color: $primary-accent;
  border-style: solid;
  border-width: thin;
  display: grid;
  margin: 2em auto 2px;
  grid-template-columns: minmax(24%, 4fr);
  grid-template-rows: minmax(1, 4fr);
  width: 50rem;
}
p {
  color: $article-text-color;
  font-family: $font;
}

section {
  grid-column: 2 / 3;
  grid-row: 2;
  margin-left: 3%;
  margin-right: 3%;
  h4 {
    color: $primary-accent;
    font-family: $font;
  }
  p {
    font-size: 14px;
  }
}

aside {
  background-color: $sidebar-color;
  grid-column: 1;
  grid-row: 2;
  margin: 0 auto;
  border-right: thin solid $primary-accent;
  p {
    font-size: 12px;
    margin-left: 3%;
    margin-right: 3%;
  }
  h3 {
    color: $primary-accent;
    font-family: $font;
    text-align: center;
  }
}

footer {
  font-family: $font;
  color: $primary-accent;
  margin: 0 auto;
}

#todo {
  @extend p;
  margin-left: 3%;
  color: $text-highlight;
  ol {
    @extend p;
  }
}

canvas {
  margin: auto;
  display: block;
}
